{% extends "base.html" %}

{% block content %}
    <div class="card p-4">
        <div class="mb-1">
            {{ _("The service uses a system of points and ratings. For each action, users receive a certain
            number of points.") }}
        </div>
        <table class="table points-table">
            <thead>
            <tr>
                <th scope="col">{{ _("Action") }}</th>
                <th scope="col">{{ _("Points") }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ _("Registration") }}</td>
                <td>+{{ points.register }}</td>
            </tr>
            <tr>
                <td>{{ _("Creating poll") }} *</td>
                <td>{{ points.create_poll }}</td>
            </tr>
            <tr>
                <td>{{ _("Voting") }}</td>
                <td>+{{ points.vote }}</td>
            </tr>
            </tbody>
        </table>
        <div>* <a class="text-decoration-none" href="{{ url_for("default.verification_info") }}">{{ _("Verified") }}</a>
            {{ _("users do not have their points deducted.") }}
        </div>
        <div class="mt-3 fw-bold">
            {{ _("Moderators reserve the right to deduct any number of points or block users for
            violations of the service rules.") }}
        </div>
    </div>
{% endblock %}