{% extends "base.html" %}

{% block content %}
    <div class="card p-4">
        <h2 class="text-center">{{ _("Create poll") }}</h2>
        <form method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            {% for field in form if field.name not in ("csrf_token", "submit", "options", "private") %}
                <div class="form-field mb-2">
                    {% set mark_field_class = "text-danger" if field.errors else "" %}
                    {{ field.label(class="form-label mb-1 " + mark_field_class) }}
                    {{ field(class="form-control", aria_describedby=field.name + "Help") }}
                    <div id="{{ field.name + "Help" }}" class="form-text">{{ field.description }}</div>
                </div>
            {% endfor %}
            <div class="form-field mb-2">
                {{ form.private(class="form-check-input") }}
                {{ form.private.label(class="form-check-label") }}
            </div>
            <div class="options">
                <label class="form-label mb-0">{{ _("Options") }}</label>
                <div id="optionsHelp" class="form-text mb-2 mt-0">{{ form.options.description }}</div>
                <div class="input-fields-wrap"></div>
                <button class="add-option-btn btn btn-secondary mb-2">{{ _("Add choice") }}</button>
            </div>
            {{ form.submit(class="btn btn-primary mt-2") }}
        </form>
    </div>
    <script>
        $(document).ready(function () {
            var min_fields = {{ form.options.validators[0].min }};
            var max_fields = {{ form.options.validators[0].max }};
            var wrapper = $(".input-fields-wrap");
            var add_button = $(".add-option-btn");

            function add_field(value = "", danger = false) {
                let field_name = "options-" + x;
                var danger_class = (danger ? " border-danger" : "");

                var input_field = `
                <div class="input-option row mb-2">
                    <div class="col-auto">
                        <input class="form-control${danger_class}" type="text" id="${field_name}" name="${field_name}" value="${value}">
                    </div>
                    <button class="remove-option btn btn-secondary col-auto">X</button>
                </div>
                `;
                if (x < max_fields) {
                    x++;
                    $(wrapper).append(input_field);
                }
            }

            var x = 0;

            {% for option_title in form.options.data %}
                {% set danger = true if form.options.errors[loop.index0] else false %}
                add_field("{{ option_title }}", {% if form.options.errors[loop.index0] %} true {% else %} false
                {% endif %})
            {% endfor %}

            if (!x) {
                add_field();
            }
            $(add_button).click(function (e) {
                e.preventDefault();
                add_field();
            });

            $(wrapper).on("click", ".remove-option", function (e) {
                e.preventDefault();
                if (x > min_fields) {
                    $(this).parent(".input-option").remove();
                    x--;
                }
            })
        });
    </script>
{% endblock %}