{% extends "base.html" %}

{% block content %}
    {% if not polls %}
        <div class="empty">{{ _("There are no polls.") }}</div>
    {% else %}
        <div class="polls-list">
            {% for poll in polls %}
                <div class="poll card mb-1 p-3">
                    <div class="text-muted">{{ _("Created at") }} {{ moment(poll["created_at"]).standard() }}</div>
                    <a class="title fs-3 text-decoration-none"
                       href={{ url_for("polls.poll_info", poll_id=poll["id"]) }}>{{ poll["title"] }}</a>
                    <div class="text-muted">
                        {% if poll["private"] %}
                            {{ _("Private") }}
                        {% else %}
                            {{ _("Public") }}
                        {% endif %}
                    </div>
                    {% if poll["completed"] %}
                        <div class="text-danger">{{ _("Completed") }}</div>
                    {% endif %}
                    <div><span class="fw-bold">{{ poll["participants"] }}</span> {{ _("votes") }}</div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}