{% extends "base.html" %}

{% block content %}
    <div class="card p-4">
        <div>{{ _("If you are a company or content maker, you can apply for verification.") }}</div>
        <div class="mt-2">
            {{ _("If your application is accepted, you will receive:") }}
            <ul>
                <li>{{ _("Profile badge") }} <i class="fas fa-badge-check verified-badge"></i>
                    {{ _("for recognition, which will be displayed next to your username.") }}
                </li>
                <li>{{ _("Unlimited points, so that nothing restricts you.") }}</li>
            </ul>
        </div>
        <div>
            {{ _("To send a request, write to the email address (currently unavailable) from the email address that the
            account is linked to.") }}
        </div>
        <div>
            {{ _("Do not forget to specify links to resources and the purpose of using the service in your letter.") }}
        </div>
        <div class="mt-2">{{ _("We will be glad to see you among the verified users :)") }}</div>
    </div>
{% endblock %}