{% extends "mail/base.html" %}

{% block content %}
    <p>
        {{ _("Hi, ") + user.username }}
    </p>
    <p>
        {{ _("There was recently a request to change the password on your account. If you requested this password change,
        please click the link below to set a new password within 30 minutes") }}:
    </p>
    <a href="{{ url_for("users.reset_password", token=token, _external=True) }}"
       style="display: inline-block; text-decoration: none; padding: 8px; color: white; background-color: #1e9a59;
       border-radius: 6px">
        {{ _("Click here to change your password") }}
    </a>
{% endblock %}
