body {
    background-color: #f6f6f6;
}

.card {
    box-shadow: 0 0 6px rgba(0,0,0,.1);
}

.navbar {
    background-color: #1e9a59;
}

.navbar-brand, .navbar-brand:hover, .user-dropdown-button, .user-dropdown-button:hover {
    color: white;
}


.classic-form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.classic-form .alert {
    padding: 8px;
    margin-bottom: 8px;
}


.navbar-user-avatar {
    width: 30px;
}


.user-avatar {
    max-width: 150px;
}

.poll-status {
    font-size: 12px;
}