body {
    background-color: #f6f6f6;
}

.card {
    box-shadow: 0 0 6px rgba(0,0,0,.1);
}

.navbar {
    background-color: #1e9a59;
}


.classic-form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.classic-form .alert {
    padding: 8px;
    margin-bottom: 8px;
}


.navbar-user-avatar {
    width: 30px;
}


.user-avatar {
    max-width: 150px;
}

.poll-status {
    font-size: 12px;
}

.comments-separator {
    margin: 12px 0;
}

.comment-user-avatar-col {
    width: 60px;
}

.comment-user-avatar {
    width: 50px;
}