{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="settings-tabs card p-2">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Account settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ profile_tab }}" href="{{ url_for("users.profile_settings", username=username) }}">Profile</a>
                </li>
                {% if current_user.username == username %}
                <li class="nav-item">
                    <a class="nav-link {{ email_tab }}" href="{{ url_for("users.email_settings", username=username) }}">Email</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ security_tab }}" href="{{ url_for("users.security_settings", username=username) }}">Security</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        {% block tab %}{% endblock %}
    </div>
</div>
{% endblock %}