{% extends "base.html" %}

{% block content %}
    <div class="card p-4">
        <div class="text-center mb-5">
            <h1 class="my-5">{{ _("Vote Create Analyze") }}</h1>
            <h5>{{ _("Whether you are a research organization
            or just an inquisitive user, this service is right for you.") }}</h5>
            <h5>{{ _("Here you can easily and quickly create polls that will involve real users") }}</h5>
            <h5>{{ _("or vote and get rewards.") }}</h5>
        </div>
    </div>
{% endblock %}