{% extends "base.html" %}

{% block content %}
    <div class="card p-4 classic-form">
        <h2 class="text-center">Sign up</h2>
        <form method="post" novalidate>
            {{ form.hidden_tag() }}
            {% if message %}
                <div class="alert alert-danger mt-1" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            {% for field in form if field.name not in ("csrf_token", "submit") %}
                <div class="form-field mb-2">
                    {% set mark_field_class = "text-danger" if field.errors else "" %}
                    {{ field.label(class="form-label mb-1 " + mark_field_class) }}
                    {{ field(class="form-control", aria_describedby=field.name + "Help") }}
                    <div id="{{ field.name + "Help" }}" class="form-text">{{ field.description }}</div>
                </div>
            {% endfor %}
            {{ form.submit(class="btn btn-primary mt-2") }}
        </form>
    </div>
{% endblock %}